html {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(19, 19, 19);
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}
h3 {
  font-size: 2rem;
  text-align: center;
}
p {
  font-size: 1.5rem;
  text-align: center;
}

img {
  max-width: 100%;
}
.topContainer {
  background: url(./makeiteasyImgs/AdobeStock_271462542\ copy.jpg);
  height: 750px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  border-radius: 5%;
  box-shadow: 1px 1px 1px gray;
}

.chilling {
  position: relative;
}
.headerwords {
  position: absolute;
  max-height: 800px;
  top: 8rem;
  left: 5rem;
}

.header {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 5rem;
  margin-top: 5rem;
  margin-bottom: 0;
  padding: 0;
}
.tagline {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: white;
  text-align: left;
  margin-top: 3rem;
  margin-left: 5rem;
  /* padding-bottom:1rem; */
}
.whatWeDo {
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  color: white;
  font-size: 1.5rem;
  text-align: left;
  line-height: 3rem;
}

.questionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.findProducts {
  margin: 4rem 0 4rem 0;
}


.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
  }

.gridA1{
    background: url(./makeiteasyImgs/couple_at_home.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5%;;
    box-shadow: 1px 1px 1px gray;
}
.gridA1:hover{
    cursor: pointer;
    opacity: .8;
}


.gridA2{
    background: url(./makeiteasyImgs/woman_working.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5%;
    box-shadow: 1px 1px 1px gray;
}

.gridA2:hover{
    cursor: pointer;
    opacity: .8;
}

.gridA3{
    background: url(./makeiteasyImgs/2guys_playing_videogame.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5%;
    box-shadow: 1px 1px 1px gray;
}

.gridA3:hover{
    cursor: pointer;
    opacity: .8;
}

.live, .work, .play{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 5.5rem;
    text-align: center;
}

.live:hover{
    cursor: pointer;
    color: rgb(21, 84, 184);
    text-shadow: 2px 2px 2px white;
}

.work:hover{
    cursor: pointer;
    color: rgb(21, 84, 184);
    text-shadow: 2px 2px 2px white;
}

.play:hover{
    cursor: pointer;
    color: rgb(21, 84, 184);
    text-shadow: 2px 2px 2px white;
}

.tipsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tips {
  margin: 4rem 0 4rem 0;
}
/* .checkOut {
  margin: 0 0 2rem 0;
} */
.lifeHacks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  grid-auto-rows: 300px;
  gap: 1em;
}

.lifeHacks h3{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.lifeHacks1{
    background: url(./makeiteasyImgs/lost_dog.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    box-shadow: 1px 1px 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifeHacks1:hover{
    cursor: pointer;
    opacity: .8;
}

.lifeHacks2{
    background: url(./makeiteasyImgs/tailgating.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    box-shadow: 1px 1px 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifeHacks2:hover{
    cursor: pointer;
    opacity: .8;
}

.lifeHacks3{
    background: url(./makeiteasyImgs/clean_up_emails.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    box-shadow: 1px 1px 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifeHacks3:hover{
    cursor: pointer;
    opacity: .8;
}

.lifeHacks4{
    background: url(./makeiteasyImgs/mobile_gaming.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    box-shadow: 1px 1px 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifeHacks4:hover{
    cursor: pointer;
    opacity: .8;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-top: 2rem;
}

@media only screen and (max-width: 1300px) {
  .topContainer {
    background: url(./makeiteasyImgs/AdobeStock_271462542\ copy.jpg);
    height: 850px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    background-position: right center;
  }
}

@media only screen and (max-width: 850px) {
  .categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 1em;
  }
  .gridA1 {
    justify-self: center;
  }

  .lifeHacks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 1em;
  }
  img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .topContainer {
    background: url(./makeiteasyImgs/AdobeStock_271462542\ copy.jpg);
    height: 850px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    background-position: right center;
  }

  .headerwords {
    position: absolute;
    max-height: 800px;
    top: 0rem;
    left: 5rem;
  }

  .header {
    color: white;
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 0;
    padding: 0;
  }
  .tagline {
    font-size: 3rem;
    color: white;
    text-align: left;
    margin-top: 3rem;
    margin-left: 0rem;
    /* padding-bottom:1rem; */
  }
  .whatWeDo {
    font-weight: lighter;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .topContainer {
    background: url(./makeiteasyImgs/AdobeStock_271462542\ copy.jpg);
    height: 850px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    background-position: right center;
  }

  .headerwords {
    position: absolute;
    max-height: 800px;
    top: -2rem;
    left: 1rem;
  }

  .header {
    color: white;
    font-size: 4.5rem;
    margin-top: 5rem;
    margin-bottom: 0;
    padding: 0;
  }
  .tagline {
    font-size: 2.5rem;
    color: white;
    text-align: left;
    margin-top: 3rem;
    margin-left: 0rem;
    /* padding-bottom:1rem; */
  }
  .whatWeDo {
    font-weight: lighter;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    line-height: 3rem;
  }

  .phoneNum > p, .email > p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .topContainer {
    background: url(./makeiteasyImgs/AdobeStock_271462542\ copy.jpg);
    height: 850px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    background-position: right center;
  }

  .headerwords {
    position: absolute;
    max-height: 800px;
    top: -3rem;
    left: 1rem;
  }

  .header {
    color: white;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 0;
    padding: 0;
  }
  .tagline {
    font-size: 2.5rem;
    color: white;
    text-align: left;
    margin-top: 3rem;
    margin-left: 0rem;
    /* padding-bottom:1rem; */
  }
  .whatWeDo {
    font-weight: lighter;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 350px) {
  .topContainer {
    background: url(./makeiteasyImgs/AdobeStock_271462542\ copy.jpg);
    height: 1050px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    background-position: right center;
  }

  .headerwords {
    position: absolute;
    max-height: 800px;
    top: -3rem;
    left: 1rem;
  }

  .header {
    color: white;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 0;
    padding: 0;
  }
  .tagline {
    font-size: 2.5rem;
    color: white;
    text-align: left;
    margin-top: 3rem;
    margin-left: 0rem;
    /* padding-bottom:1rem; */
  }
  .whatWeDo {
    font-weight: lighter;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    line-height: 3rem;
  }
}


@media only screen and (max-width: 300px) {
    .topContainer {
      background: url(./makeiteasyImgs/AdobeStock_271462542\ copy.jpg);
      height: 1050px;
      background-size: cover;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: flex-start;
      background-position: right center;
    }
  
    .headerwords {
      position: absolute;
      max-height: 800px;
      top: -3rem;
      left: 1rem;
    }

    .header {
        color: white;
        font-size: 3rem;
        margin-top: 5rem;
        margin-bottom: 0;
        padding: 0;
      }
}